*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

header {
    margin: 44px 0 144px 76px;
}
.link-header{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin: 23px;
}
.button-hedear {
    background: #3e397c;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}
.button-hedear:hover {
    opacity: 0.5;
    transition: 0.3s;
}
.imagem {
    width: 500px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
    border-radius: 500px;
}

section {
    margin-left: 86px;
    display: inline-block;

}
h1 {

    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}
h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 71px;
    color: #515151;
}
p {
    width: 515px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #515151;
    margin-top: 32px;
    margin-bottom: 65px;
}
.button-main {
    background: #adff00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter:drop-shadow(8px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 24px;
    line-height: 34px;
    color: #050505;
    font-weight: bold;
}
.button-main:hover {
    opacity: 0.5;
    transition: 0.3s;
}

@media screen and (max-width: 900px){
  header {
        display: none;
    }

    main {
        flex-direction: column;
        text-align: center;
    }

    .imagem {
        max-width: 200px;
    }

    h1 {
        font-size: 40px;
    }
}